*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h2 {
  font-size: 18px;
  font-weight: 500;
   color: #5c3b00;
}
body {
  background: #fff6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Baloo 2', cursive;
}

.container{
    text-align: center;
    font-size: 20px;
    width: 500px;
    padding: 40px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);

}
.home{
    border: none;
    border-radius: 15px;
    cursor:pointer;
    

}
.home img {
  width: 72px;
  height: 72px;
  object-fit: contain;
  padding: 10px;
  transition: 500ms ease;
  
}
.home:hover{
    transform: scale(1.1);
  background: #ffe7b3;
}
h1{
  color: #5c3b00;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: 2px;
}
.botoes{
  display: flex;
  flex-direction: row;
  gap: 50px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.iniciar{
  padding: 20px;
  border: none;
  border-radius: 15px;
  padding: 40px;
  cursor: pointer;

}
.inicar:hover{
  transform: scale(1.1);
}
#inciarBT{
background-color: #5c3b00;
color: #ffe7b3;
font-size: 18px;
font-weight: 500;
}
#pararBT{
background-color:#ffe7b3;
color:#5c3b00;
font-size: 18px;
font-weight: 500;
}
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 5px #ccc;

  padding: 40px;
  width: 400px;
  text-align: center;
}
#modal-button{
  padding: 40px;
  border: none;
  border-radius: 20px;
  background-color: #5c3b00;
  color: #ffe7b3;
  font-size: 18px;
  font-weight: 500; 
}
::backdrop {
  background: rgba(0,0,0,0.6);
}
#modal-button:hover{
  transform: scale(1,0.7);
}